{% extends "base.html" %}


{% block content %}
    <div class="con_content">
        <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人相册</a></span><b>个人相册</b></h2>
      <div class="lispic">
        <ul>
            {% for pic in page_picture %}
                <li><a href="/newabout/{{ pic.id }}"><img src="/static/{{ pic.picture }}"><span>{{ pic.title }}</span></a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="pagelist">页次：{{ p }}/{{ article_picture.num_pages }} <a href="/newlistpic/1">首页</a><a href="/newlistpic/{{ last_p }}">上一页</a><a href="/newlistpic/{{ p }}">{{ p }}</a><a href="/newlistpic/{{ next_p }}">下一页</a><a href="/newlistpic/{{ article_picture.num_pages }}">尾页</a></div>
    </div>
    </div>
{% endblock %}